*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
}
header{
    display: flex;
    width: calc(100vw - 100px);
    height: 100px;
    background-color: black;
    margin-left: 100px;
    color: white;
    justify-content: center;
}
.logo{
    color: #dd0f00;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Passion One', sans-serif;
    font-size: 48px;
    text-shadow: -1.5px -1.5px white;
}
.container{
    display: flex;
}
nav{
    background-color: black;
    width: 100px;
    margin-top: -100px;
    height: 100vh;
    position: fixed;
}
.navlist{
    margin-left: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 200px);
}
.link{
    color: #dd0f00; 
    text-decoration:none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Passion One', sans-serif;
    text-shadow: -0.5px -0.5px white;
}
section{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    width: calc(100vw - 100px);
    height: auto;
}

article{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.artim{
    width: 24%;
    border: black 3px solid;
    border-radius: 10%;
    margin: 10px 3%;    
}
 
.artim:hover{
    transform: scale(1.4,1.4);
    transition-duration: 30s;
}

.award{
    width: 30%;
    padding-left: -100px;
    padding-right: -100px;
}

.award:hover{
    transform: scale(1.4,1.4);
    transition-duration: 30s;
}

h2{
    color:  #dd0f00;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    font-family: 'Passion One', sans-serif;
    text-shadow: -1px -1px white;
    border-top:  #dd0f00 solid 5px; 
}
h3{
    color:  #dd0f00;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-family: 'Passion One', sans-serif;
    text-shadow: -1px -1px white;
    text-decoration: underline  #dd0f00;
}
.main-text{
    margin-top: 10px;
    color: white;
    width: 70%;
    font-size: 16px;
    padding: 0px 10px 10px 10px;
}
.text{
    margin-top: 10px;
    color: white;
    font-size: 16px;
    padding: 0px 10px 10px 10px;
}
audio{
    width: 150px;
    margin: 5px auto;
}
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button{
    visibility: collapse;
}
audio::-webkit-media-controls-panel{
    background-color:  #dd0f00;
}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #dd0f00;
    font-size: 16px;
    width: 90%;
}
input{
    background-color: black;
    color:white;
    border-color: #dd0f00;
}
.submitbutton{
    cursor: pointer;
    width: 80px;
    margin: 5px auto;
    background-color:  black;
    color: white;
    border: solid 2px #dd0f00;
    font-size: 16px;
}
footer{
    width: calc(100vw - 100px);
    background-color: black;
    height: 100px;
    color: white;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-top:  #dd0f00 solid 5px;
}
footer p{
    display: flex;
    flex-direction: column;
    margin-left:5%;
    width: 25%;
}
footer ul{
   display: flex;
   width: 60%;
}
footer ul li{
    margin: auto;
    width: 33%;
    list-style-type: none;
}
.insta-icon {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 20%;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
  }
  .insta-icon:after,
  .insta-icon:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    content: ''
  }
  .insta-icon:before {
    border-radius: 20%
  }
  .insta-icon:after {
    width: 11px;
    height: 11px;
    border-radius: 50%
  }
.wikiicon{
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 20%;
}
.imdbicon{
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 20%; 
}
.red-button{
    position: relative;
    width: 30px;
    height: auto;
    border-radius: 20%; 
    padding-top: 14px;
    left: 20px;
}
.red-button:hover{
    transform: scale(1.5,1.5); 
    transition-duration: 3s;
    cursor:not-allowed;
}
.footerjohn{
    position: relative;
    width: 15%; 
}

.butlink{
    cursor: default;
    width: 60px;
}

@media only screen and (max-width: 1199px){
    nav{ 
        display: none;
    }
    header{
        width: 100vw;
        height: 100px;
        background-color: black;  
        margin-left: 0px;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
        width: 100vw
    }
    footer{
        width: 100vw;
        margin-left: 0px;
}
@media only screen and (max-width: 999px){
    article{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .main-text{
        width: 100%;
    }
    .artim{
        width: 80%;
    }   
    .award{
        width: 80%;
    }          
}
@media only screen and (max-width: 799px){
    .footerjohn{
        display: none;
    }
}